*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background: url(./assets/bg.mobile.jpg) no-repeat top center/cover;
}

body *{
    font-family: 'Inter', sans-serif;
    color: #ffffff;
}

#container{
    width: 360px;
    margin: 56px auto 0px;
}

#profile{
    text-align: center;
    padding: 24px;
}

#profile img{
    width: 112px;
    margin: auto;
    border-radius: 25%;
    border:2px solid rgb(32, 15, 48);
}

profile p{
    font-weight: 500;
    line-height: 24px;
}